<form  class="was-validated" (ngSubmit)="onSubmit()" [formGroup]="form">
  
    <ng-container  *ngFor="let control of controls" >
        <app-controls [control]="control" [form]="form"></app-controls>
      </ng-container >
  
      <ng-container *ngIf ="!isEdit" >
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Save</button>
      </ng-container>
      <ng-container *ngIf ="isEdit">
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Edit</button>
      </ng-container>
</form>
  


  

  