<h1>
  Displaying {{ data.length }} {{moduleName}}.
</h1>

<div>    
  <a routerLink="/commonsAdd" routerLinkActive="active" class="btn btn-primary">
    Add
  </a>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>   
      <th scope="col">Commons</th>
      <th scope="col">Test</th>
      <th scope="col">Edit</th>
      <th scope="col">Remove</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let singleData of data">      
      <th scope="row">
        <a routerLink="{{singleData._id}}" routerLinkActive="active">
          {{ singleData.comm_test }}
        </a>
      </th>
      <td> {{ singleData.comm_test }}</td>
      <td><a routerLink="/commonsEdit/{{singleData._id}}" type="button" class="btn btn-info">Modificar</a></td>
      <td><button (click)="removeData(singleData)" type="button" class="btn btn-danger">Remover</button></td>
    </tr>
  </tbody>
</table>

